<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/contacts.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (conc.length > 0) { %>
                    <div class="grid">
                        <% for (let i of conc) { %>
                            <article class="card contact-item">
                                
                                
                                <div class="card__content">
                                    <h1 class="contact__name" >
                                        <%= i.name %>
                                    </h1></br>
                                    <h2 class="contact__price"> 
                                        <%= i.mobilenumber %>
                                    </h2>
                                    <p class="contact__email">
                                        <%= i.email %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/edit-contact/<%= i._id %>?edit=true" class="btn">Edit</a>
                                    <form action="/delete-contact" method="POST">
                                        <input type="hidden" value="<%= i._id %>" name="contactId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No contacts Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>